######################################
#
############# Basic libs #############

jupyter
numpy
pandas
matplotlib
seaborn

######################################
#
######### Download Image libs ########

pillow
requests
graphviz
Cython

######################################
#
######### Data Augumentation #########

albumentations
opencv-python

######################################
#
###### Machine and Deep Learning #####

scikit-learn
ultralytics

######################################
