{{summaryPlaceholder}}          


{{#parametersExist}}

Args:
{{#args}}
    {{var}}: {{descriptionPlaceholder}}
{{/args}}

{{/parametersExist}}


{{#exceptionsExist}}

Throw:
{{#exceptions}}
    {{type}}: {{descriptionPlaceholder}}
{{/exceptions}}

{{/exceptionsExist}}


{{!#returnsExist}}

Return:
{{#returns}}
    {{descriptionPlaceholder}}
{{/returns}}

{{!/returnsExist}}


{{#yieldsExist}}

Yield:
{{#yields}}
    {{descriptionPlaceholder}}
{{/yields}}

{{/yieldsExist}}


{{! TODO: o primeiro summary está no lugar errado, precisa dar uma quebra de linha}}

{{! TODO: ver se tem como ignorar um parametro quando for um _}}